<div class="navbar navbar-default bg-info"
     role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">

			<button type="button"
			        class="navbar-toggle collapsed"
			        data-toggle="collapse"
			        data-target="#js-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand"
			   href="#/">
				<span style="color:white;">book
					<span style="color:#F9BB2B;font-size:1.5em;">A</span>
				                           book
				</span>
			</a>
		</div>

		<div class="collapse navbar-collapse"
		     id="js-navbar-collapse">
			<div ng-show="currentUser">
				<p class="navbar-text navbar-right">Signed in as
					<a href="#/myProfile"
					   class="navbar-link">{{currentUser.screenName}}
					</a>
				</p>
			</div>
			<div ng-hide="currentUser">
				<button type="button"
				        class="btn btn-warning navbar-btn pull-right"
				        ng-click="logIn()">Sign in
				</button>
				<button type="button"
				        class="btn btn-normal navbar-btn pull-right"
				        style="margin-right:5px;"
				        ng-click="register()">Register
				</button>
			</div>
			<ul class="nav navbar-nav">

				<li ng-class="{'active': tabIndex == 11}">
					<a href="#/">Home</a>
				</li>
				<li ng-class="{'active': tabIndex == 12}">
					<a ng-href="#/about">About</a>
				</li>
				<li ng-class="{'active': tabIndex == 13}">
					<a ng-href="#/contact">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<ul class="nav nav-tabs"
    ng-show="currentUser">
	<li role="presentation"
	    ng-class="{'active': tabIndex == 21}">
		<a href="#/mySearch">Search</a>
	</li>
	<li role="presentation"
	    ng-class="{'active': tabIndex == 22}">
		<a href="#/myBooks">My books</a>
	</li>
	<li role="presentation"
	    ng-class="{'active': tabIndex == 23}">
		<a href="#/myBorrowedBooks">Borrowed books</a>
	</li>
	<li role="presentation"
	    ng-class="{'active': tabIndex == 24}">
		<a href="#/myLentBooks">Lent books</a>
	</li>
	<li role="presentation"
	    ng-class="{'active': tabIndex == 25}">
		<a href="#/myMessages">Messages</a>
	</li>
	<li role="presentation"
	    ng-class="{'active': tabIndex == 26}">
		<a href="#/myProfile">My Profile</a>
	</li>
	<li role="presentation"
	    ng-class="{'active': tabIndex == 27}">
		<a href="#/mySettings">Settings</a>
	</li>
</ul>
