<!-- Login  Modal -->

<div class="modal fade"
     id="loginModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="loginModal">
	<div class="modal-dialog "
	     role="document">
		<div class="modal-content">
			<form name="loginForm"
			      ng-submit="logInUser(loginForm)"
			      novalidate>
				<div class="modal-header">
					<button type="button"
					        class="close"
					        data-dismiss="modal"
					        aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4>
						Log in
					</h4>
				</div>
				<div class="modal-body">
					
					<!-- USERNAME -->
					<div class="form-group"
					     ng-class="{ 'has-error' : loginForm.lgoinusername.$invalid && (loginForm.lgoinusername.$dirty || submitted)}">
						<label>Username</label>
						<input type="text"
						       name="lgoinusername"
						       class="form-control"
						       ng-model="existingUser.username"
						       placeholder="Your Username"

						       ng-required="true">
						<p ng-show="loginForm.lgoinusername.$error.required && (loginForm.lgoinusername.$dirty || submitted)"
						   class="help-block">You username is required.</p>

					</div>

					<!-- PASSWORD -->
					<div class="form-group"
					     ng-class="{ 'has-error' : loginForm.loginpassword.$invalid && (loginForm.loginpassword.$dirty || submitted)}">
						<label>Password</label>
						<input type="Password"
						       name="loginpassword"
						       class="form-control"
						       ng-model="existingUser.password"
						       placeholder="Your Password"
						       ng-required="true">
						<p ng-show="loginForm.loginpassword.$error.required && (loginForm.loginpassword.$dirty || submitted)"
						   class="help-block">Your password is required.</p>
					</div>



					<div class="alert alert-danger"
					     role="alert"
					     ng-show="formAlert">{{formAlert}}
					</div>

				</div>
				<div class="modal-footer">
					<button type="button"
					        class="btn btn-primary"
					        data-dismiss="modal"
									ng-click="facebookLogin()">
						<i class="fa fa-facebook"></i>
						Log in using Facebook
					</button>
					<button type="submit"
					        class="btn btn-info"
					        ng-disabled="!loginForm.$valid">Log in
					</button>
					<button type="button"
					        class="btn btn-danger"
					        data-dismiss="modal">Close
					</button>

				</div>
			</form>
		</div>
	</div>
</div>




