<!-- Preview  Modal -->

<div class="modal fade"
     id="previewModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="previewModal">
	<div class="modal-dialog  modal-lg"
	     role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button"
				        class="close"
				        data-dismiss="modal"
				        aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4>{{previewBook.title}}
					<span ng-show="previewBook.subtitle"> -</span>
				    {{previewBook.subTitle}}

				</h4>
			</div>
			<div class="modal-body">
				<ul class="media-list"
				    style="max-height:400px;overflow-y: scroll;padding:5px;">

					<li class="media">

						<a class="pull-left"
						   href="{{previewBook.previewlink}}">
							<img class="media-object img-rounded"
							     ng-src="{{previewBook.thumbnail}}">
						</a>

						<div class="media-body">
							<h4 style="color:#2DAFDD;"
							    class="media-heading"
							    ng-if="previewBook.author">by {{previewBook.author}}
								<rating ng-model="previewBook.googleRating"
								        max="5"
								        class="pull-right"
								        readonly="isReadonly"></rating>
							</h4>
							<p>
								<span style="color:#DC4750;"
								      class="pull-right"
								      ng-if="previewBook.isbn">ISBN: {{previewBook.isbn}}
								</span>
							</p>
							<p ng-if="previewBook.publisher">Published by {{previewBook.publisher}}
								<span ng-show="previewBook.publishDate">,</span>
							                                 {{previewBook.publishDate}}
							</p>

							<p ng-bind-html="previewBook.description">
							</p>
						</div>

					</li>

				</ul>
			</div>
			<div class="modal-footer">
				<hr/>
				<a ng-show="previewBook.previewlink"
				   type="button"
				   class="btn btn-primary"
				   href="{{previewBook.previewlink}}"
				   target="_blank">
					<i class="fa fa-eye"></i>
					Show preview on Google
				</a>
				<button type="button"
				        class="btn btn-info"
				        data-dismiss="modal">Borrow this book
				</button>
				<button type="button"
				        class="btn btn-danger"
				        data-dismiss="modal">Close
				</button>

			</div>
		</div>
	</div>
</div>




