<div class="container-fluid">
	<div class="row topbar">
		<div class="col-sm-3 location">
			<div class="form-group">
				<label for="city"
				       class="col-sm-12 control-label">Radius (km)
				</label>
				<div class="col-sm-12 controls">
					<select class="form-control" ng-model="searchRadius">
						<option>1 km</option>
						<option>5 km</option>
						<option>10 km</option>
						<option>20 km</option>
						<option>50 km</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-sm-9 searchbar">
			<div class="form-group">
				<label for="inputfield2"
				       class="col-sm-9 control-label">Search for books near {{User.city}}
				</label>
				<div class="col-sm-12 controls">
					<form ng-submit="showBook(keyword)">
						<div class="input-group">

							<input type="text"
							       class="form-control"
							       id="inputfield2"
							       placeholder="Book title, Genre, Author name, ISBN, ..."
							       ng-model="keyword">
							<span class="input-group-btn">
								<button id="searchButton"
								        class="btn btn-primary"
								        type="submit"
								        data-loading-text="Loading...">Search
								</button>
							</span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-sm-12">

	<div class="grid"
	     ui-grid="gridOptions"
	     ui-grid-selection
	     ui-grid-resize-columns >
	</div>
	<div class="loadingGrid"
	     ng-show="loading"
	     ng-animate="'fade'">
		<img src="images/Preloader_3.gif"
		     alt=""/>
	</div>
</div>

<div ng-include="'views/modals/previewmodal.html'"></div>